.tableRow {
    cursor: pointer !important;
}

.tableRow:hover {
    background: #5856d61a;
}

td,th {
    font-size: 15px !important;
}

.MuiDialog {
    overflow-y: auto;
}

/* Reset dialog styles to default MUI styling */
.MuiDialog-paper {
    background-color: #fff; /* Default background color */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Default shadow */
    border-radius: 4px; /* Default border radius */
    overflow: visible; /* Allow overflow */
  }
  
  .MuiDialogTitle-root {
    padding: 16px; /* Default padding */
    font-weight: bold; /* Default title style */
  }
  
  .MuiDialogContent-root {
    padding: 24px; /* Default padding */
    overflow: visible; /* Allow content to overflow if necessary */
  }
  
  .MuiDialogActions-root {
    padding: 8px 16px; /* Default padding */
  }
  
  @media (max-width: 600px) {
    .MuiDialog-paper {
      width: 90%; /* Adjust width for smaller screens */
      margin: 0; /* Remove default margin */
    }
  }
  
  /* Responsive Table Styles */
  .responsiveTableContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .responsiveTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  @media (max-width: 600px) {
    .responsiveTable thead {
      display: none;
    }
  
    .responsiveTable, .responsiveTable tbody, .responsiveTable tr, .responsiveTable td {
      display: block;
      width: 100%;
    }
  
    .responsiveTable tr {
      margin-bottom: 15px;
    }
  
    .responsiveTable td {
      text-align: right;
      padding-left: 50%;
      position: relative;
    }
  
    .responsiveTable td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
    }
  }